/*.bat
/*.lnk
/bin/
/target/
.classpath
.project
.metadata/
RemoteSystemsTempFiles/
.settings/
!src/main/java/credco/com/pages_with_steps_definitions/pfmintegration_module/.classpath
!src/main/java/credco/com/pages_with_steps_definitions/pfmintegration_module/.project
!src/main/java/credco/com/pages_with_steps_definitions/pfmintegration_module/.metadata
!src/main/java/credco/com/pages_with_steps_definitions/pfmintegration_module/RemoteSystemsTempFiles
!src/main/java/credco/com/pages_with_steps_definitions/pfmintegration_module/.settings
.idea/
*.iml
dealerPortal/target/*
credcoRegression/target/
credcoRegression/all.log
logParser/target/
logParser/archive/
all.log
*.csv
